.login{
 border: 2px solid black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 30px;
 background-color: rgb(188, 252, 252);
 border-radius: 20px;
 font-weight: bold;


}
.logindiv{
 /* background-color: antiquewhite; */
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}

.login input{
 width: 70%;
 border-radius: 20px;
 margin: 20px;
 padding: 20px;
}
.login button{
 margin-top: 20px;
 padding: 5px 10%;
 background-color:rgb(15, 14, 14) ;
 color: aqua;
 border-radius: 20px;
}